
@{
    ViewBag.Title = "Unexisting Account";
}

<div class="col-md-12">
    <h2>This account does not appear to exist.</h2>
    <span>If you have lost your credentials you can reset your password @Html.ActionLink("here", "LostPassword", "Account").</span>
    <span>If you don't have any account you can create one @Html.ActionLink("here", "Register", "Account").</span>
</div>

<script>setTimeout(function () { location.href =  './Register'; }, 10000);</script>
