
@{
    ViewBag.Title = " Email send";
}

<div class="col-md-12">
    <h2>Activation Email is send.</h2>
    <span>Check your Email for Activation link (Check your spam folder if not found).</span>
    <span>Receiving the email can take up to 12 hours.</span>
    <span>You are now being redirected.</span>
</div>

<script>setTimeout(function () { location.href =  './Login'; }, 9000);</script>
