
@{
    ViewBag.Title = "Activation failed";
}

<div class="col-md-12">
    <h2>Attempt sending email to provided account failed.</h2>
    <span>@Html.ActionLink("Try again", "LostPassword", "Account")</span>
    <span>If this problem persist contact us at woodstore@support.com.</span>
</div>
