
@{
    ViewBag.Title = "Email Exist";
}

<div class="col-md-12">
    <h2>Email address already exist.</h2>
    <span>If you have lost your credentials you can reset your password @Html.ActionLink("here", "LostPassword", "Account").</span>
</div>

