
@{
    ViewBag.Title = "Reset succesfull";
}
<div class="col-md-12">
    <h2>Please verify by clicking the link that is sent to your account.</h2>
    <span>After verification you will be able to create a new password.</span>
</div>


<script>setTimeout(function () { location.href =  './Login'; }, 8000);</script>
