
@{
    ViewBag.Title = "Reset Failed";
}


<div class="col-md-12">
    <h2>Password reset failed.</h2>
    <span>Try again.</span>
    <span>If this problem persist contact us at woodstore@support.com.</span>
</div>
   


