@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div id="about">
    <div class="line2">
        <div class="container">
            <div class="row Fresh">
                <div class="col-md-4 Des">
                    <i class="fa fa-heart"></i>
                    <h2>100% tevreden klanten !</h2>
                    <p><h4>De jarenlange ervaring,vakmanschap & kennis heeft ons de mogelijkheid om kwaliteit te brengen in ons advies ! </h4></p>
                </div>
                <div class="col-md-4 Ver">
                    <i class="fa fa-cog"></i>
                    <h2>WoodStar is Flexibel !</h2>
                    <p><h4>Wij zijn en zullen altijd correct blijven met onze prijzen,wij handelen in UW voordeel !</h4>
                </div>
                <div class="col-md-4 Fully">
                    <i class="fa fa-tablet"></i>
                    <h2>WooDStar APP !</h2>
                    <p><h4>Download onze app weldra verkrijgbaar in playstore & appstore , stay tuned  !</h4></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 wwa">
                <span name="about"></span>
                <h2>Wie zijn we? Ontdek onze Team!</h2>
                <h3>Wij luisteren,adviseren en ontwikkelen.</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row team">
            <div class="col-md-4 b1">
                <img class="img-responsive" src="images/picTeam/picT1.png">
                <h3>Yves Meeuw</h3>
                <h4>CEO</h4>
                <p> informatie blablabla informatie blablabla informatie blablabla <br />informatie blablabla informatie blablabla informatie blablabla informatie blablabla</p>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                </ul>
            </div>


            <div class="col-md-4">
                <img class="img-responsive" src="images/picTeam/picT2.png">
                <h3>Tommy Compernol</h3>
                <h4>Project Manager</h4>
                <p>informatie blablabla informatie blablabla informatie blablabla<br />informatie blablabla informatie blablabla informatie blablabla informatie blablabla</p>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                </ul>
            </div>


            <div class="col-md-4 b3">
                <img class="img-responsive" src="images/picTeam/picT3.png">
                <h3>Dimitri Vantorre</h3>
                <h4>Developer</h4>
                <p>informatie blablabla informatie blablabla informatie blablabla<br />informatie blablabla informatie blablabla informatie blablabla informatie blablabla.</p>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 hr1">
                <hr />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 bar">
                <div class="progB chart" data-percent="100" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="100">
                            <span class="percent">100</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>Duurzaamheid & Techniek</h3>
                    <p>Beste click-systemen ,onze producten zijn héél precies uitgekozen<br />Wij hebben toegang tot aléén maar het beste ! </p>
                </div>
            </div>
            <div class="col-md-3 bar">
                <div class="progB chart" data-percent="100" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="100">
                            <span class="percent">100</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>SERVICE</h3>
                    <p>Altijd doen wij ons best voor uw <br />Zo kan u dan ook van het BESTE genieten ! </p>
                </div>
            </div>
            <div class="col-md-3 bar ">
                <div class="progB chart" data-percent="100" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="100">
                            <span class="percent">100</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>KOOP bij ons en bespaar UW geld !</h3>
                    <p>Nog nergens zulke scherpe prijzen gezien<br />Héél veel werk werd daarvoor verricht en het is de moeite waard ! </p>
                </div>
            </div>
            <div class="col-md-3 bar ">
                <div class="progB chart" data-percent="100" data-animate="3500">
                    <div class="chart chart-content">
                        <div class="percentage" data-percent="100">
                            <span class="percent">100</span>
                        </div>
                    </div>
                </div>
                <div class="textP">
                    <h3>WIJ GAAN MOBIEL !</h3>
                    <p>Weldra is er ook een app bescikbaar om uw parket of laminaat op voorhand<br />te kunnen kiezen,bestellen en dan komen ophalen waneer het voor U past ! </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row aboutUs">
            <div class="col-md-12 ">
                <h3>Wat zeggen klanten van ons?</h3>
            </div>
        </div>
    </div>

    <div style="position: relative;">

        <div class="container">
            <div class="row about">
                <div class="col-md-6">
                    <div class="about1">
                        <img class="pic1Ab" src="images/picAbout/aboutP1.png">
                        <h3>Dimitri Vantorre</h3>
                        <p>informatie blablabla informatie blablabla informatie blablabla informatie blablablainformatie blablabla informatie blablabla informatie blablabla informatie blablabla</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about2">
                        <img class="pic2Ab" src="images/picAbout/aboutP2.png">
                        <h3>Tommy Compernol</h3>
                        <p>informatie blablabla informatie blablabla informatie blablabla informatie blablablainformatie blablabla informatie blablabla informatie blablabla informatie blablabla</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="horL"></div>

        <div class="container">
            <div class="row about">
                <div class="col-md-6">
                    <div class="about1">
                        <img class="pic1Ab" src="images/picAbout/aboutP3.png">
                        <h3>Yves Meeuw</h3>
                        <p>informatie blablabla informatie blablabla informatie blablabla informatie blablablainformatie blablabla informatie blablabla informatie blablabla informatie blablabla</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about2">
                        <img class="pic2Ab" src="images/picAbout/aboutP4.png">
                        <h3>Sarah White secretaresse onthaal </h3>
                        <p>informatie blablabla informatie blablabla informatie blablabla informatie blablablainformatie blablabla informatie blablabla informatie blablabla informatie blablabla </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
