@{
    ViewBag.Title = "Home Page";
}
    @using (Html.BeginForm())
    {           
        <!-- start Slider -->
        <div id="ninja-slider">
            <div class="slider-inner">
                <ul>
                    <li>
                        <img class="ns-img" src="~/images/ra7.png" />
                        <div class="caption">WoodStore</div>
                    </li>
                    <li>
                        <img class="ns-img" src="~/images/ra4.png" />
                        <div class="caption">WoodStore</div>
                    </li>
                    <li>
                        <img class="ns-img" style="cursor:pointer;" src="~/images/ra12.jpg" />
                        <div class="caption">WoodStore</div>
                    </li>
                    <li>
                        <img class="ns-img" src="~/images/ra9.png" />
                        <div class="caption cap1">RESPONSIVE</div>
                        <div class="caption cap1 cap2">TOUCH·FRIENDLY</div>
                        <div class="caption">WoodStore</div>
                    </li>
                </ul>
                <div class="fs-icon" title="Expand/Close"></div>
            </div>
        </div>
    <!-- end Slider -->


    }
