@model Woodstore.Models.LostPasswordModel

@{
    ViewBag.Title = "LostPassword";
}
<head>
    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/status.css" rel="stylesheet" />
</head>

<h2>Lost Password</h2>

<div class="col-lg-8 col-sm-10 center-block container">
 @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-lg-8 col-sm-10 center-block">

            @Html.LabelFor(model => model.Email, new { @class = "labelLogin", id = "username-status" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            <input type="text" name="Email" placeholder="MyAccountName@gmail.com" data-validation="req len:1-50">
           
            <div>
                <button class="buttonLogin">Reset Password</button>
            </div>
            <br />
            <br />
        </div>

    }
</div>

